{% extends "base.html" %}

{% block title %}রিসেট লিংক পাঠানো হয়েছে - Hello Naogaon{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="card shadow-sm">
                <div class="card-body p-5 text-center">
                    <h2 class="card-title text-center fw-bold mb-4">রিসেট লিংক পাঠানো হয়েছে</h2>
                    <p class="text-muted">পাসওয়ার্ড রিসেট করার জন্য নির্দেশনাবলী সহ একটি ইমেইল আপনাকে পাঠানো হয়েছে। যদি আপনি কয়েক মিনিটের মধ্যে ইমেলটি না পান, তবে আপনার স্প্যাম ফোল্ডারটি পরীক্ষা করুন।</p>
                    <a href="{% url 'core:home' %}" class="btn btn-success mt-3">হোম পেজে ফিরে যান</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
